#####
#Force non-www in a Generic Way
#####

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.
RewriteCond %{HTTPS}s ^on(s)|off
RewriteCond http%1://%{HTTP_HOST} ^(https?://)(www\.)?(.+)$
RewriteRule ^ %1%3%{REQUEST_URI} [R=301,L]

#####
#Remove Trailing Slash
#####
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

#####
#Alias PHP URLs
#####
RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^.]+)$ $1.html [NC,L]

#####
#Alternate default index pages
#####
DirectoryIndex first.html index.htm index.html index.php

#####
#Disable Directory Browsing
#####
Options All -Indexes

#####
#Compress Text Files
#####
<IfModule mod_deflate.c>

  # Force compression for mangled headers.
  # https://developer.yahoo.com/blogs/ydn/pushing-beyond-gzipping-25601.html
  <IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
      SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
      RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
  </IfModule>

  # Compress all output labeled with one of the following MIME-types
  # (for Apache versions below 2.3.7, you don't need to enable `mod_filter`
  #  and can remove the `<IfModule mod_filter.c>` and `</IfModule>` lines
  #  as `AddOutputFilterByType` is still in the core directives).
  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE application/atom+xml \
                                  application/javascript \
                                  application/json \
                                  application/rss+xml \
                                  application/vnd.ms-fontobject \
                                  application/x-font-ttf \
                                  application/x-web-app-manifest+json \
                                  application/xhtml+xml \
                                  application/xml \
                                  font/opentype \
                                  image/svg+xml \
                                  image/x-icon \
                                  text/css \
                                  text/html \
                                  text/plain \
                                  text/x-component \
                                  text/xml
  </IfModule>

</IfModule>

#####
#Cache Control
#####
<IfModule mod_headers.c>
  # One month for image files, css, and js
  <filesMatch ".(jpg|jpeg|jfif|png|gif|ico|webp|css|js)$">
  Header set Cache-Control "max-age=2628000, public"
  </filesMatch>

  # One hour for html, pdf, xml, and txt
  <filesMatch ".(html|htm|pdf|xml|txt)$">
  Header set Cache-Control "max-age=3600, public"
  </filesMatch>

  # No cache for php
  <filesMatch ".(php)$">
    FileETag None
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </filesMatch>
</IfModule>

#####
#Redirects
#####
ErrorDocument 404 /404/index.html
ErrorDocument 403 /403/index.html

#####
#Old Site Redirects
#####
Redirect 301 /camp-history /history
Redirect 301 /spark /news
Redirect 301 /videos /youtube
Redirect 301 /important-documents /documents
Redirect 301 /hunting-fishing /yearround/hunting-fishing

Redirect 301 /knights /news/2020/Knights-of-the-Bushkill
Redirect 301 /programs-and-opportunities /summer/programs
Redirect 301 /virtual /news/2020/Summer-Recap
Redirect 301 /jurassic-falls /news/2019/Summer-Recap
Redirect 301 /prepared-for-girls /summer/girls
Redirect 301 /food-and-nutrition /summer/food

Redirect 301 /join-camp-staff /staff
Redirect 301 /work-at-resica /staff
Redirect 301 /joincampstaff /staff
Redirect 301 /seek /summer/seek

Redirect 301 /weekend-activities /yearround/activities
Redirect 301 /facilities-and-rentals /rentals/facilities
Redirect 301 /field-weekend /news/2019/Field-Weekend

Redirect 301 /contact-us /contact

Redirect 301 /dates-and-rates /summer/register
Redirect 301 /2021 /summer/register
Redirect 301 /2022 /summer/register

Redirect 301 /atv-program /summer/atv
Redirect 301 /campership https://colbsa.org/camperships/
Redirect 301 /canoeing /rentals/canoes
Redirect 301 /chris /news/2020/Chris-Brenner
Redirect 301 /cit-program /summer/seek
Redirect 301 /cope /yearround/cope
Redirect 301 /guidebooks /documents
Redirect 301 /nylt https://colbsa.org/training/nylt/
Redirect 301 /troop-one /summer/provo
Redirect 301 /provo /summer/provo
Redirect 301 /provisional /summer/provo

#####
#Other Redirects
#####
Redirect /summer/documents /documents
Redirect /yearround/documents /documents

Redirect /flyfishing /yearround/hunting-fishing
Redirect /fishing /yearround/hunting-fishing

Redirect 301 /Trading-Post https://resicatradingpost.square.site/
Redirect 301 /trading-post https://resicatradingpost.square.site/
Redirect 301 /tradingpost https://resicatradingpost.square.site/
Redirect 301 /Store https://resicatradingpost.square.site/
Redirect 301 /store https://resicatradingpost.square.site/

Redirect 301 /tshirt /news/Knights-Unit-Ts
Redirect 301 /tshirts /news/Knights-Unit-Ts
Redirect 301 /shirt /news/Knights-Unit-Ts
Redirect 301 /shirts /news/Knights-Unit-Ts

Redirect 301 /youtube https://www.youtube.com/channel/UCmBA0mO4ZwLxxKxuJuLdXWg
Redirect 301 /YouTube https://www.youtube.com/channel/UCmBA0mO4ZwLxxKxuJuLdXWg

Redirect 301 /staffapparel https://resicatradingpost.square.site/staff-apparel
Redirect 301 /closingreport /staff-downloads
Redirect 301 /dkstatus https://colbsa.doubleknot.com/OpenRosters/ViewActivitySpaceAvailable.aspx?classificationid=64244&sf=f&orgkey=1112

Redirect 301 /leaders-update https://colbsa.zoom.us/webinar/register/WN_ryUwcKtsTzq2OuIengLQOg
Redirect 301 /leadersupdate https://colbsa.zoom.us/webinar/register/WN_ryUwcKtsTzq2OuIengLQOg

Redirect /coronavirus /news/COVID19-Summer-Camp-Update
Redirect /covid19 /news/COVID19-Summer-Camp-Update
Redirect /covid-19 /news/COVID19-Summer-Camp-Update

Redirect /brennerproject https://app.mobilecause.com/e/Kutx0A?vid=jgebx
Redirect /savetom https://app.mobilecause.com/e/zL280w?vid=sq1wh

Redirect /mobile https://www.scoutingevent.com/mobile/?eid=52835

Redirect /ownyourhome /files/summer/2022-Own-Your-Home.pdf


#TODO
#downloads pages
#news format
