/* === FONT FAMILY SETUP === */
@import url("https://use.typekit.net/lwk8qjr.css");

/* === COLOR VARIABLES === */
:root {
  --oa-white: #FFFFFF;
  --oa-black: #030006;
  --oa-grey:#36454F;
  --oa-red: #E31837;
  --oa-blue: #005596;

  --resica-yellow: #FFDD00;
  --resica-black: #000;
  --resica-green: #1F7244;
  --resica-orange: #F58220;
  --resica-red: #CB2027;
  --resica-blue: #005596;

  --site-white: #FFF;
  --site-black: var(--resica-black);
  --site-grey: #a6a6a6;
  --site-primary: var(--oa-red);
  --site-accent-dark: var(--oa-grey);
  --site-accent-light: var(--oa-red);

  --page-background: var(--site-white);
  --page-text: var(--site-black);
  --nav-background: var(--site-black);
  --nav-links: var(--resica-yellow);
  --nav-links-hover: var(--site-white);
  --link: var(--resica-blue);
  --link-hover: var(--resica-blue);
  --blockquote-text: var(--resica-black);
  --blockquote-background: #EDEDED;
  --card-background: #EDEDED;
  --alert-primary-text: var(--resica-black);
  --alert-primary-link: var(--resica-black);
  --alert-primary-link-hover: var(--site-grey);
  --alert-primary-background: var(--resica-yellow);
  --alert-warning-text: var(--site-white);
  --alert-warning-link: var(--site-white);
  --alert-warning-link-hover: var(--site-grey);
  --alert-warning-background: var(--resica-red);
  --btn-primary-text: var(--resica-black);
  --btn-primary-background: var(--resica-yellow);
  --btn-primary-border: var(--resica-yellow);
  --btn-primary-hover-text: var(--resica-yellow);
  --btn-primary-hover-background: var(--resica-black);
  --btn-primary-hover-border: var(--resica-yellow);
  --btn-secondary-text: var(--resica-black);
  --btn-secondary-background: var(--resica-yellow);
  --btn-secondary-border: var(--resica-yellow);
  --btn-secondary-hover-text: var(--resica-yellow);
  --btn-secondary-hover-background: var(--resica-black);
  --btn-secondary-hover-border: var(--resica-yellow);
  --featured-action-bar: var(--resica-black);
  --footer-text: var(--resica-black);
  --footer-background: var(--resica-yellow);
  --footer-link-hover: var(--site-white);
}

/* === GLOBAL STYLES === */
body {
  font-size: 1rem;
  color: var(--page-text);
  background-color: var(--page-background);
  font-family: 'open-sans', sans-serif;
  padding-top: 60px;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
h1, h2, h3 {
  font-family: 'bebas-neue', serif;
}
h4, h5, h6 {
  font-weight: 800;
  font-family: 'open-sans', sans-serif;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.8rem;
}
a {
  color: var(--link);
}
a:focus, a:hover {
  text-decoration: none;
  color: var(--link-hover)
}
blockquote{
  font-style: italic;
  color: var(--blockquote-text);
  padding:1em;
  border-left:8px solid var(--resica-yellow) ;
  background: var(--blockquote-background);
}
.hero {
  font-size: 3rem;
  font-style: italic;
  color: var(--resica-black);
}
.subheader{
  font-weight: 600;
  font-size: 1rem;
  font-family: 'open-sans', sans-serif;
  text-transform: uppercase;
}
iframe {
  margin-bottom: 0.5rem;
}
.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}
.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.card{
  background-color: var(--card-background);
}
.text-primary{
  color: var(--page-text) !important;
}
/*alerts*/
.alert-page {
  border-radius: 0;
}
.alert-primary {
  color: var(--alert-primary-text);
  background-color: var(--alert-primary-background);
  border-style: none;
}
.alert-primary a {
  color: var(--alert-primary-link);
  font-weight: bold;
  font-style: italic;
}
.alert-primary a:hover, .alert-primary a:focus {
  color: var(--alert-primary-link-hover);
  font-weight: bold;
  font-style: italic;
}
.alert-warning {
  color: var(--alert-warning-text);
  background-color: var(--alert-warning-background);
  border-style: none;
}
.alert-warning a {
  color: var(--alert-warning-link);
  text-decoration: underline;
}
.alert-warning a {
  color: var(--alert-warning-link-hover);
  text-decoration: underline;
}
/*buttons*/
.btn-primary {
  color: var(--btn-primary-text);
  background-color: var(--btn-primary-background);
  border-color: var(--btn-primary-border);
  font-weight: 700;
  text-transform: uppercase;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: var(--btn-primary-hover-text);
  background-color: var(--btn-primary-hover-background) !important;
  border-color: var(--btn-primary-hover-border) !important;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-secondary {
  color: var(--btn-secondary-text);
  background-color: var(--btn-secondary-background);
  border-color: var(--btn-secondary-border);
  font-weight: 700;
  text-transform: uppercase;
  }
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: var(--btn-secondary-hover-text);
  background-color: var(--btn-secondary-hover-background) !important;
  border-color: var(--btn-secondary-hover-border) !important;
  font-weight: 700;
  text-transform: uppercase;
  }

/* === NAVIGATION === */
/* setup */
.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.navbar.bg-light {
  background-color: var(--nav-background) !important;
  font-family: 'open-sans', sans-serif;
}
.navbar li.nav-item a.nav-link {
  color: var(--nav-links);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 15px;
}
.navbar li.nav-item a.nav-link:hover, .navbar li.nav-item a.nav-link:focus {
  color: var(--nav-links-hover);
}
/* branding */
.navbar-brand svg {
  float: left;
  max-width: 200px;
  min-width: 150px;
  width: auto !important;
  padding: 5px;
  margin: auto 0;
  vertical-align: middle;
}
/* toggle */
.navbar-light .navbar-toggler {
  color: var(--nav-links);
  border-color: none;
  border: none;
  box-shadow: none;
}
/* dropdown*/
.dropdown-menu {
  min-width: 0;
  text-align: left;
  border: none !important;
  border-radius: 0 !important;
}
/* spacing on large screens */
@media (min-width: 992px) {
  body{
      padding-top: 70px;
  }
  .navbar-light, .bg-light {
    height: 70px;
  }
  .dropdown-menu{
    padding: 1em 0 0.5em 0;
  }
  .navbar-brand img.logo {
    max-width: 300px;
  }
}

/* === CONTENT === */
.content{
  padding-top: 1em;
  min-height: calc(100vh - 318px);
}
.featured-actions{
  background-color: var(--featured-action-bar);
  padding: 0.5em 13.5%;
}
.featured-actions .col{
  padding: 0.5em 1em;
}
.post > h1  {
  font-size: 2rem;
  margin-bottom: 4px;
}
.post > .data{
  margin-bottom: 1em;
}
.post > .cover > img{
  max-width: 100%;
  height: auto;
}

/* === FOOTER === */
footer {
  padding: 10px 0 15px;
}

footer p {
  margin: 10px 0;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

.footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.footer .copyright a {
  color: var(--footer-text);
}

.footer .copyright a:hover {
  color: var(--footer-link-hover);
}

.footer {
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--footer-text);
  /* padding-top: 25px; */
}

.footer h4 {
  margin-top: 10px;
  font-family: 'bebas-neue', serif;
}

.footer-main {
  background: var(--footer-background);
}

ul.footer-links {
  list-style: none;
}

ul.footer-links li {
  padding-bottom: 5px;
}

ul.footer-links li * {
  color: var(--footer-text);
  text-decoration: none;
  transition: all 0.25s;
}

ul.footer-links li:hover * {
  color: var(--footer-link-hover);
}

.footer-socialmedia {
  padding-left: 5px;
}

.footer-socialmedia i {
  padding-right: 5px;
  font-size: 30px;
  transition: all 0.25s;
  color: var(--footer-text);
}

.footer-socialmedia i:hover {
  color: var(--footer-link-hover);
}

.footer-logo{
  padding-top: 1rem;
}
.list-group > .list-group-item > .fa.fa-chevron-right {
  float: right;
}

.footer-main {
  /* background-image: url('/themes/oabsa-theme/images/bsa_action_folio.svg'); */
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width:768px) {
  .footer-main {
    background-size: 768px;
    background-position: left bottom;
  }

}
.clamp {
  -webkit-line-clamp: 3;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
